<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>Manager</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link href="/css/cover.css" type="text/css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


</head>
<!-- ! NAVBAR -->

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">
          <img src="/icons/bug.png" class="brand-icon" alt="image">
          BUGZILLA
        </h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="/logout">Log out</a>
        </nav>
      </div>
    </header>
    <!-- ! MAIN -->

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Hi there!</h1>
      <p class="lead">Welcome to Manager Page</p>
      <p class="lead">
        <a href="/manager/createproject" class="btn btn-lg btn-secondary">Create a project</a> <br> <br>
        <a href="/manager/editproject" class="btn btn-lg btn-secondary">Edit a project</a> <br> <br>
        <a href="/manager/deleteproject" class="btn btn-lg btn-secondary">Delete a project</a> <br> <br>
      </p>
    </main>

    <!-- ! FOOTER -->
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Coded by Ikhlaq Ahmad Makki</p>
      </div>
    </footer>
  </div>
</body>

</html>
